.wrapper {
  margin: 60px 0;
}

.title {
  margin: 0 auto 30px;
  width: max-content;
}

.container {
  display: flex;
  gap: 20px;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #816666;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  padding: 2px;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
  }
}

.circleSmall {
  @extend .circle;
}

.circleMedium {
  @extend .circle;
  padding: 4px;
}

.circleBig {
  @extend .circle;
  padding: 6px;
}

.circleBiggest {
  @extend .circle;
  padding: 8px;
}

.circleNew {
  @extend .circle;
  position: absolute;
  top: 175px;
  left: 175px;
}
